.box {
    background-color: rgb(188, 188, 188);
    height: 100%;
}
.auth {
    padding-top: 30px;
    padding: 30px 15px 0px 15px;
    width: 50vh;
    height: 100vh;
    margin: 0 auto;
}
.notFound {
    text-align: center;
}
.nav-link {
    display: inline !important;
    margin-left: 10px;
}
